\usepackage{fontspec}
\defaultfontfeatures{Kerning=Off, Ligatures=TeX}
\setmainfont{lmroman10}[Extension=.otf, UprightFont=*-regular, BoldFont=*-bold, ItalicFont=*-italic, BoldItalicFont=*-bolditalic]
\setsansfont{lmsans10}[Extension=.otf, UprightFont=*-regular, BoldFont=*-bold, ItalicFont=*-oblique, BoldItalicFont=*-boldoblique]
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{tabularx}
\usepackage{xcolor}
\usepackage[hidelinks,pdfusetitle]{hyperref}
\pagestyle{empty}
\setlength{\tabcolsep}{0in}
\raggedright
\urlstyle{same}
\newcommand{\resumeItem}[1]{\item\small{#1}}
\newcommand{\resumeSubheading}[4]{
  \vspace{-1pt}\item
  \begin{tabular*}{\linewidth}[t]{l@{\extracolsep{\fill}}r}
    \textbf{#1} & \small #2 \\
    \textit{\small #3} & \textit{\small #4} \\
  \end{tabular*}\vspace{-6pt}
}
\newcommand{\resumeProjectHeading}[1]{\vspace{-1pt}\item #1\vspace{-4pt}}
\newcommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.1in, label={}, itemsep=<< spacing >>]}
\newcommand{\resumeSubHeadingListEnd}{\end{itemize}}
\newcommand{\resumeItemListStart}{\begin{itemize}[leftmargin=0.2in, itemsep=0pt, topsep=3pt, label=\textbullet]}
\newcommand{\resumeItemListEnd}{\end{itemize}\vspace{-4pt}}
